@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import url('./styles/header.scss');

// ?---------- DARK Theme -----
// * backgrounds
$very-dark-desaturated: hsl(222, 26%, 31%);
$very-dark-desaturated2: hsl(223, 31%, 20%);
$very-dark-desaturated3: hsl(224, 36%, 15%);

// * keys
$desaturated-dark-blue: hsl(225, 21%, 49%);
$desaturated-dark-blue2: hsl(224, 28%, 35%);
$red: hsl(6, 63%, 50%);
$dark: hsl(6, 70%, 34%);
$light-grayish-orange: hsl(30, 25%, 89%);
$grayish-orange: hsl(28, 16%, 65%);

// * text
$very-dark-grayish-blue: hsl(221, 14%, 31%);
$white: hsl(0, 0%, 100%);
$font:'League Spartan', sans-serif;


// ?---------- LIGHT Theme -----
// * backgrounds
$light-gray: hsl(0, 0%, 90%);
$grayish-red: hsl(0, 5%, 81%);
$very-light-gray: hsl(0, 0%, 93%);

// * keys
$dark-moderate-cyan: hsl(185, 42%, 37%);
$very-dark-cyan: hsl(185, 58%, 25%);
$orange: hsl(25, 98%, 40%);
$dark-orange: hsl(25, 99%, 27%);
$light-grayish-yellow: hsl(45, 7%, 89%);
$dark-grayish-orange: hsl(35, 11%, 61%);

// * text
$very-dark-grayish-yellow: hsl(60, 10%, 19%);

// ?---------- PURPLE Theme -----
// * backgrounds
$very-dark-violet: hsl(268, 75%, 9%);
$very-dark-violet2: hsl(268, 71%, 12%);

// * keys
$dark-violet: hsl(281, 89%, 26%);
$vivid-magenta: hsl(285, 91%, 52%);
$pure-cyan: hsl(176, 100%, 44%);
$soft-cyan: hsl(177, 92%, 70%);
$very-dark-violet: hsl(268, 47%, 21%);
$dark-magenta: hsl(290, 70%, 36%);

// * text
$light-yellow: hsl(52, 100%, 62%);
$very-dark-blue: hsl(198, 20%, 13%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 320px;
  min-height: 100vh;
  font-family: $font;
  font-size: 1.6rem;
  padding: 30px;
  padding-top: 40px;
}

.themeDark {
  background-color: $very-dark-desaturated;
  color: $white;
  & .themes__toggle {
    background-color: $very-dark-desaturated2;
    & div {
      background-color: $red;
    }
  }
}

.themeLight {
  background-color: $light-gray;
  color: $very-dark-grayish-yellow;
  & .themes__toggle {
    background-color: $grayish-red;
    & div {
      background-color: $orange;
    }
  }
}

.themePurple {
  background-color: $very-dark-violet;
  color: $light-yellow;
  & .themes__toggle {
    background-color: $very-dark-violet2;
    & div {
      background-color: $pure-cyan;
    }
  }
}

